_*
tmp/
logs/
datasets/**
!datasets/baked/dicomBalayageTotalValid.pkl
!datasets/baked/grandeSphereValid.pkl
.idea
tests/
volume/*
/.NUF_venv/
/latest
debugpy.txt
/reprod
*.npy
US_data
*.bat
test_data
*.DS_Store

# large data
data/
*.raw
*.mat
*.pkl
*.h5
*.dcm

# optional large docs
*.pptx

# python cache
__pycache__/
*.pyc

# ppt files
*.ppt




