REPO_DIR=/home/zchen/Code/NeUF
PYTHON_BIN=/home/zchen/.conda/envs/neuf/bin/python
SCRIPT_PATH=/home/zchen/Code/NeUF/export_knn_baseline.py
CKPT_PATH=/home/zchen/Code/NeUF/latest/ckpt.pkl
OUTPUT_DIR=/home/zchen/Code/NeUF/exports/knn_baseline_cluster
SHARD_ROOT=/home/zchen/Code/NeUF/exports/knn_baseline_cluster/31-03-2026/.ckpt_0_distributed_tmp/shards
THREADS_PER_RANK=16
KNN_K=3
KNN_MAX_DIST=''
KNN_CHUNK_SIZE=200000
KNN_RESOLUTION_SCALE=1.0
KNN_SPACING=''
KNN_BOUNDS_DATASET=''
KNN_POINT_MIN=''
KNN_POINT_MAX=''
KNN_USE_BBOX_MASK=0
KNN_DISABLE_SEQUENCE_PLANE_MASK=0
